ion-refresher.refresher-active {
  z-index: 1;
}

ion-text.text-pre-wrap {
  white-space: pre-wrap;
  word-wrap: break-word;
}

ion-text.selectable {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
