<ion-header [translucent]="true" appLargeTitleHeader>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher [disabled]="refresherDisabled" slot="fixed" (ionRefresh)="loadData($any($event))">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense" appLargeTitleHeader>
    <ion-toolbar>
      <ion-title size="large">{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="sampleWiki !== undefined; else loading">
    <ion-item *ngFor="let wiki of sampleWiki; index as i">
      <ion-label position="stacked">{{ wiki.title }}</ion-label>
      <ion-text class="text-pre-wrap" [class.selectable]="i % 2 === 0">{{ wiki.text }}</ion-text>
    </ion-item>
  </ion-list>
  <ng-template #loading>
    <div class="ion-text-center">
      <ion-spinner></ion-spinner>
    </div>
  </ng-template>

  <ion-infinite-scroll [disabled]="true" (ionInfinite)="loadData($any($event))">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
