<ion-header [translucent]="isIos" mode="ios">
  <ion-toolbar [mode]="!isIos ? 'md' : undefined">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" mode="ios">
    <ion-toolbar [mode]="!isIos ? 'md' : undefined">
      <ion-title size="large">{{ title }}</ion-title>
    </ion-toolbar>
    <ion-toolbar [mode]="!isIos ? 'md' : undefined">
      <ion-searchbar></ion-searchbar>
    </ion-toolbar>
    <ion-toolbar [mode]="!isIos ? 'md' : undefined">
      <ion-segment>
        <ion-segment-button>segment1</ion-segment-button>
        <ion-segment-button>segment2</ion-segment-button>
        <ion-segment-button>segment3</ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
