//ion-refresher.refresher-active {
//  z-index: 1;
//}

ion-list.list {
  margin: 16px;
  border-radius: 6px;
  border: 1px solid var(--ion-color-primary);
}

ion-item > ion-label > ion-skeleton-text {
  width: 200px;
}
