<ion-header [translucent]="true" appLargeTitleHeader>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollY]="false">
  <ion-refresher [disabled]="refresherDisabled" slot="fixed" (ionRefresh)="loadData([], $any($event))">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <cdk-virtual-scroll-viewport
    class="ion-content-scroll-host"
    [itemSize]="heightFn()"
    maxBufferPx="1400"
    minBufferPx="1000"
  >
    <ion-header collapse="condense" appLargeTitleHeader>
      <ion-toolbar>
        <ion-title size="large">{{ title }}</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-list *ngIf="sampleList !== undefined; else skeleton">
      <ion-item *cdkVirtualFor="let data of sampleList; index as i">
        <ion-avatar slot="start">
          <img [src]="'https://i.pravatar.cc/150?img=' + data.imageId" alt="avatar image" />
        </ion-avatar>
        <ion-label>{{ data.name }}</ion-label>
        <ion-badge>{{ data.score }}</ion-badge>
      </ion-item>
    </ion-list>
    <ng-template #skeleton>
      <ion-list *ngIf="sampleList === undefined">
        <ion-item *cdkVirtualFor="let skeleton of skeletonList">
          <ion-label>
            <ion-skeleton-text></ion-skeleton-text>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-template>

    <ion-infinite-scroll [disabled]="infiniteScrollDisabled" (ionInfinite)="loadData(sampleList, $any($event))">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </cdk-virtual-scroll-viewport>
</ion-content>
